{% extends 'base.html' %}

{% load static %}

{% block section %}
   <h2>
       {{ object.title }}
       {% if object.favorite %}
              &#9733;
       {% else %}
              &#9734;
       {% endif %}
       {% if object.nombredueno_id %}
         ( <a href="{% url "nombredueno-detail" object.nombredueno_id %}">
             {{ object.nombredueno }}
           </a> )
       {% endif %}
    </h2>
    <button type="button" class="btn btn-success"> <a href="{% url "nombredueno-update" object.id %}"> <p style="color:black;">Editar </p></a></button>
    <button type="button" class="btn btn-danger"> <a href="{% url "nombredueno-delete" object.id %}"> <p style="color:black;">Eliminar </p></a></button>
   <hr>
{% endblock section %}

{% block maincontent %}
<div>
 
</div>
{% endblock maincontent %} 